 // Bourbon & Neat
// @import '../../bower_components/bourbon/dist/bourbon';
// @import '../../bower_components/neat/app/assets/stylesheets/neat';


// MIXIN

@mixin box {
  margin: 0px auto;
  width: 600px;
  border-radius: 6px;
  border: 1px solid HSLA(185, 100%, 38%, 1);
}

@mixin header {
  font-size: 40px;
  background-color: HSLA(184, 100%, 42%, 1);
  margin: 0px;
  padding: 5px 15px;
  color: HSLA(0, 0%, 100%, 1);
  // transition: background-color 3s ease 0s;
  // transition: font-size 3s ease 0s;
}

  @mixin contentBox {
    background-color: HSLA(0, 0%, 86%, 1);
    font-size: 15px;
    height: 0px;
    padding: 0px 15px;;
    margin: 0px;
    overflow: hidden;
}

// JQUERY

.open article {
  height: auto;
}


// Custom Styles

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.boxCon {
  @include box;

  h2 {
    @include header;
  }
}

article {
    @include contentBox;
  }


// h2:hover {
//   background-color: pink;
//   font-size: 200px;
// }
